header, main, footer{
    padding:3%;
}

header{
    background-color: green;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

footer{
    text-align: center;
    background-color: green;
    color: white;
}

iframe{
    margin: none;
    border: none;
}

main{
    padding-top: 0px;
    padding-bottom: 10px;
}

ul{
    list-style-type: none;
}

li{
    margin-left: 0;
    padding: 0;
}

.state{
    text-decoration: none;
}
